.active{
    lighting-color: red;
}

header{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    
}
header ul{
    display: flex;
    gap: 50px;
    margin: 50px;
    list-style: none;
}
header ul li a{
    font-size: 30px;
    text-decoration: none;
}
